<html>
    <head></head>
    <body style="font-family: Lato, Arial, sans-serif;background: #F4F5F6;">
        <div style="margin: 0 auto;max-width: 680px;width: 100%;background: #FFF;">
            <div style="text-align: center;background: #F4F5F6;padding: 24px;">
                <img src="https://static.coderdojo.com/images/coderdojo-logo-light-bg.png">
            </div>